.container {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  background-color: antiquewhite;
  font-weight: bold;
  text-align: center;
}

.primary {
  color: var(--color-primary);
}
